@{
    ViewBag.Title = "Home Page";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>
                alert("@ViewBag.Message")
        </script>
    }
}

<main>
    <div class="container" style="max-width: 1000px; padding: 43px;">
        <section class="form-dark">
            <div class="card card-image" style="background-image: url('../../Content/styles/img/fondo.jpg')">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <div class="text-center">
                        <h3 class="white-text mb-5 mt-4 font-bold"><strong>Iniciar</strong> <a class="green-text font-bold"><strong>Sesión</strong></a></h3>
                    </div>
                    <form action="/Home/Login" method="post">
                        <div class="md-form">
                            <input placeholder="" type="text" id="username" name="username" class="form-control white-text" required>
                        </div>
                        <div class="md-form pb-3">
                            <input placeholder="" type="password" id="password" id="password" name="password" class="form-control white-text" required>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="text-center mb-3 col-md-12">
                                <button type="submit" value="Ingresar" class="btn btn-success btn-block btn-rounded z-depth-1">Iniciar Sesión</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
